{% extends 'base.html.twig' %}

{% block title %}Votes index{% endblock %}

{% block body %}
    <h1>Votes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NubStar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
            <tr>
                <td>{{ vote.id }}</td>
                <td>{{ vote.NubStar }}</td>
                <td>
                    <a href="{{ path('app_votes_show', {'id': vote.id}) }}">show</a>
                    <a href="{{ path('app_votes_edit', {'id': vote.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_votes_new') }}">Create new</a>
{% endblock %}
